<div class="bgl-affiliations">
  <a class="bgl-affiliation-mark"
     href="https://aigi.ox.ac.uk/" target="_blank" rel="noopener"
     aria-label="Oxford Martin AI Governance Initiative">
    <img class="bgl-affiliation-logo bgl-affiliation-logo--light"
         src="{{ '/assets/img/aigi-oxford-lockup-light.png' | relative_url }}"
         alt="Oxford Martin AI Governance Initiative, Oxford Martin School, University of Oxford"
         loading="lazy">
    <img class="bgl-affiliation-logo bgl-affiliation-logo--dark"
         src="{{ '/assets/img/aigi-oxford-lockup-dark.png' | relative_url }}"
         alt="Oxford Martin AI Governance Initiative, Oxford Martin School, University of Oxford"
         loading="lazy">
  </a>
  <p class="bgl-affiliation-text">
    The Bayesian Governance Lab is part of the
    <a href="https://aigi.ox.ac.uk/" target="_blank" rel="noopener">Oxford Martin AI Governance Initiative</a>
    and the
    <a href="https://eng.ox.ac.uk/about/machine-learning-research-group" target="_blank" rel="noopener">Machine Learning Research Group</a>,
    Department of Engineering Science, University of Oxford.
  </p>
</div>
